@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fix iOS Safari fixed positioning scroll bug */
html, body {
    overscroll-behavior-y: none;
    -webkit-overflow-scrolling: touch;
    height: 100%;
  }
  
  